/* footer.css */
footer {
    padding: 1rem 0;
    background: linear-gradient(90deg, #ffffff, #ffccff);
    color: #ff99cc;
    width: 100%;
    text-align: center;
    font-family: 'Punk Cyber ExtrudeSlant', sans-serif;
}