/* footer.css */
footer {
    padding: 1rem 0;
    background: linear-gradient(90deg, #007BFF, #00C6FF);
    color: #fff;
    width: 100%;
    text-align: center;
    position: fixed;
    bottom: 0;
}