/* intro.css */
.intro {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1200px;
    margin: auto;
    padding: 3rem 2rem;
    gap: 3rem;
    background: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-top: 1rem; 
}

.intro-text {
    text-align: left;
    margin-right: 2rem;
}

.intro-text p {
    padding-top: 1.5rem;
    font-family: 'DM Sans', sans-serif;
    font-size: 1.2rem;  /* Increase the intro paragraph font size */
}

.intro h1 {
    font-size: 3.5rem;  /* Increase the intro heading font size */
    margin-bottom: 1rem;
    color: #ff99cc;
    font-family: 'DM Sans', sans-serif;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.intro h1 .highlighted-name {
    font-family: 'Punk Cyber ExtrudeSlant', sans-serif;
    background-color: #ff99cc;
    color: #fff;
    padding: 0.2rem 0.5rem;
    border-radius: 5px;
}

.intro p {
    margin-bottom: 2rem;
    line-height: 1.6;
}

.buttons {
    display: flex;
    gap: 1.5rem;
    justify-content: flex-start;
}

.button {
    padding: 0.75rem 1.5rem;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
    font-family: 'DM Sans', sans-serif;
    font-size: 1.2rem;  /* Increase the button font size */
}

.button:hover {
    transform: scale(1.05);
}

.button.primary {
    background-color: #ff99cc;
    color: #fff;
}

.button.primary:hover {
    background-color: #ffccff;
}

.button.secondary {
    background-color: #fff;
    color: #ff99cc;
    border: 2px solid #ff99cc;
}

.button.secondary:hover {
    background-color: #ff99cc;
    color: #fff;
}

.intro-image img {
    max-width: 100%;
    border-radius: 10px;
}