/* projects.css */
.projects {
    padding: 3rem 2rem;
}

.projects h2 {
    font-size: 3rem;  /* Increase the projects heading font size */
    margin-bottom: 2rem;
    color: #ffffff;
    font-family: 'Punk Cyber ExtrudeSlant', sans-serif;
}

.project-list {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: center;
}

.project-card {
    background: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 2rem;
    width: 300px;
    text-align: left;
    margin-bottom: 2rem;
    font-family: 'DM Sans', sans-serif;
    font-size: 1.2rem;  /* Increase the project card font size */
}

.project-card h3 {
    font-size: 2rem;  /* Increase the project card heading font size */
    margin-bottom: 1rem;
    color: #ff99cc;
    font-family: 'Punk Cyber ExtrudeSlant', sans-serif;
}

.project-card p {
    margin-bottom: 1.5rem;
    line-height: 1.6;
}